<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
</head>
<body>
    <h1>You are trying to tresspass on federal ground</h1>
    <button onclick="window.location.href ='/Login'"> Login </button> <br>
    <button onclick="window.location.href ='/signup'">Sign up to help your country</button>
</body>
</html>