<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI6</title>
</head>
<body>
    <h1>You are on the MI6 website please choose from one of the options below</h1>
    <button onclick="window.location.href ='/Login'"> Login </button> <br>
    <button onclick="window.location.href ='/signup'">Sign up to help your country</button>
</body>
</html>