<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in</title>
</head>
<body>
    <h1>Congratulations, you are logged in. This computer will self-destruct in 5 seconds. </h1>
   <button onclick="window.location.href ='/loggedout'">Disconnect</button>
</body>
</html>