<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disconnected</title>
</head>
<body>
    <h1>Congratulations, you are disconnected. This computer will self-destruct in 5 seconds. </h1>
    <button id="mysterybutton"> Oh no </button>
    <button onclick="window.location.href ='/'"> Go back home </button>
</body>
<script src="/scripts/farting-button.js"></script>
</html>